{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
      <section id="contact" class="contact" style="background-image: url(https://c.wallhere.com/photos/22/cc/glass_night_dinner_table_noche_hungary_bokeh_budapest-863223.jpg!d); background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>

        <form method="POST">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <input class="btn btn-warning" type="submit" name="Create User">
              </div>
            </div>
          </div>
          <div class="container"></div>
            {% if user.is_superuser %}
          <div class="table-striped">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><span style="color:white">№</span></th>
                  <th><span style="color:white">name</span></th>
                  <th><span style="color:white">email</span></th>
                  <th><span style="color:white">subject</span></th>
                  <th><span style="color:white">messages</span></th>
                </tr>
              </thead>
            <tbody>
            {% for object in context %}
                <tr class="text-light">
                  <th scope="row">{{object.id}}</th>
                  <td>{{object.name}}</td>
                  <td>{{object.email}}</td>
                  <td>{{object.subject}}</td>
                  <td>{{object.messages}}</td>
                </tr>
            </tbody>
          {% endfor %}
            </table>
          {% endif %}
          </div>
        </form>
        </div>
      </section>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95944.85160028966!2d69.30431989042063!3d41.28108395089456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef5a5822ee0b7%3A0x8a2391a66774b812!2sNAPA%20Team!5e0!3m2!1sen!2s!4v1621691279660!5m2!1sen!2s" frameborder="0" allowfullscreen></iframe>
      </div>

      <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Restaurant</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>

            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
            <div class="social-links mt-3" style="padding-top: 45px; margin-left: 70px; font-size:35px;">
                <a href="https://twitter.com/?lang=en" class="twitter" style="margin-left: 30px;"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://t.me/" class=""><i class="bx bxl-telegram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </footer>

{% endblock %}