{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">

        <div class="col-lg-8">

          <h1 style="margin-top: 35px">{% trans 'Welcome to Restaurant' %}</h1>
          <h2> {% trans 'Delivering great food for more than 18 years!' %}</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">{% trans 'Our Menu' %}</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">{% trans 'Book a Table' %}</a>
          </div>
        </div>
          <div class="icon" style="padding-top: 45px; margin-left: 70px; font-size:35px;">
                <a href="https://twitter.com/?lang=en" class="twitter" style="margin-left: 30px;"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
             <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200" style="margin-left: 750px;">
          <a href="https://www.youtube.com/watch?v=CoAvaYOwm6k" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
        </div>

<section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Why Us' %}</h2>
          <p>{% trans 'Why Choose Our Restaurant' %}</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>{% trans 'Lorem Ipsum' %}</h4>
              <p>{% trans 'Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat' %}</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>{% trans 'Repellat Nihil' %}</h4>
              <p>{% trans 'Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest' %}</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>{% trans 'Ad ad velit qui' %}</h4>
              <p>{% trans 'Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis' %}</p>
            </div>
          </div>

        </div>

      </div>
    </section>

      </div>
    </div>
  </section>

{% endblock %}