{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<ul class="navbar-nav my-2 my-lg-0">
    {% for language in languages %}
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" method="post">
            {% carf_token %}
            <input type="hidden" name="lang" value="{{language.0}}"/>
            <input type="submit" class="btn btn-outline-light"
                        value="{{language.1}}"/>
        </form>
    </li>
</ul>

{% endblock %}