{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section id="menu" class="menu section-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>{% trans 'Menu' %}</h2>
          <p>{% trans 'Check Our Tasty Menu' %}</p>
        </div>
        {% if user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'create_menu' %}">Create</a>
        {% endif %}

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for object in categorys %}
              <li data-filter=".{{object.name}}">{{object.name}}</li>
              {% endfor %}

            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
          {% for object in menus %}
          <div class="col-lg-4 menu-item {{object.category}}">
            {% if object.image %}

            <img src="{{object.image.url}}" class="section section-catalog" alt="">
            {% endif %}
            <div class="menu-content">
              <a href="#">{{object.name}}</a><span>{{object.price}} $ </span>
            </div>
            <div class="menu-ingredients">
              {{object.description}}
            </div>
            <br>
            {% if user.is_superuser %}
            <a class="btn btn-outline-info" href="{% url 'update_menu' object.id %}">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'delete_menu' object.id  %}">Delete</a>
            {% endif %}
          </div>

          {% endfor %}
        </div>
      </div>
</section>

      <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Restaurant</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>

            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
            <div class="social-links mt-3" style="padding-top: 45px; margin-left: 70px; font-size:35px;">
                <a href="https://twitter.com/?lang=en" class="twitter" style="margin-left: 30px;"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://t.me/" class=""><i class="bx bxl-telegram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </footer>


{% endblock %}